.main_board{
    
    display: flex;
    flex-flow: row;
    align-items: center;
}




.wordle_box{
    
    height: 500px;
    width: 500px;
    margin-left: 30%;
    margin-top: 4%;
    
    display: flex;
    flex-flow: column;
}

.wordle_box li{
    list-style-type: none;
    display: flex;
    flex-flow: row;
}

.wordle_box li button{
    background-color: white;
    height: 100px;
    width: 100px;
}

.inputBox{
    background-color: rgb(109, 152, 139);
    height: 300px;
    width: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

.inputBox button{
    height: 70px;
    width: 200px;
}

.inputBox input{
    height: 35px;
    width: 100px;

}
